.firstSlider_container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 0 56px 0 270px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  user-select: none;
  scroll-behavior: smooth;
}

.card {
  display: flex;
  min-width: 400px;
  max-width: 400px;
  height: 500px;
  flex-direction: column;
  border-radius: 20px;
  background: var(--Clear-base-bg, #000);
}

.card__span {
  color: var(--Text-Main-text, #85868b);
  padding: 20px 20px 27px 20px;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: -0.528px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
}

.content__title {
  margin: 36px 0 30px 0;
  display: flex;
  justify-content: center;
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 105px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2.31px;
}

.content__subTitle {
  color: var(--Text-Text-accent, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 43px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: -0.946px;
  align-self: stretch;
}

.content__description {
  color: var(--Text-Main-text, #85868b);
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  max-width: 280px;
}

.content__title_2 {
  display: flex;
  justify-self: center;
  gap: 15px;
}

.title_2_wrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 160px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -3.52px;
}

.title_2_subWrappers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_2_subWrappers span {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 75px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -1.65px;
}

.title_2_subWrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 80px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.76px;
}

.title_2_subSubWrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 33px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.726px;
}

.dots__container {
  margin-top: 26px;
}

.dots__wrapper {
display: inline-flex;
gap: 10px;
padding: 24px;
background-color: #373739;
border-radius: 28px;
}

.dots__dot {
width: 8px;
height: 8px;
background-color: #CFCED1;
border-radius: 8px;
}

@media screen and (max-width: 576px) {
  .firstSlider_container {
    padding: 0 30px;
  }

  .card {
    min-width: 245px;
    max-width: 245px;
    height: 330px;
  }

  .card__span {
    font-size: 19.65px;
    letter-spacing: -0.432px;
  }

  .card__content {
    gap: 20px;
  }

  .content__title {
    font-size: 77.781px;
    letter-spacing: -1.711px;
    margin: 0 0 18px 0;
  }

  .content__subTitle {
    font-size: 35.206px;
    letter-spacing: -0.775px;
  }

  .content__description {
    font-size: 18.013px;
  }

  .content__title_2 {
  }

  .title_2_wrapper {
    font-size: 114.625px;
    letter-spacing: -2.522px;
  }

  .title_2_subWrappers {
  }

  .title_2_subWrappers span {
    font-size: 49.125px;
    letter-spacing: -1.081px;
  }

  .title_2_subWrapper {
    font-size: 49.125px;
    letter-spacing: -1.081px;
  }

  .title_2_subSubWrapper {
    font-size: 21.288px;
    letter-spacing: -0.468px;
  }
}
