.secondSlider_container {
  height: 500px;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 0 56px 0 270px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  user-select: none;
  scroll-behavior: smooth;
}

.card {
  display: flex;
  min-width: 400px;
  max-width: 400px;
  height: 440px;
  flex-direction: column;
  border-radius: 20px;
  background: var(--Clear-base-bg, #000);
}

.card__span {
  color: var(--Text-Main-text, #85868b);
  padding: 20px 20px 27px 20px;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: -0.528px;
}

.card__content {
  display: flex;
  padding: 52px 0 30px 0;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.content__title {
  color: var(--Text-Main-text, #85868b);
  text-align: center;
  align-self: stretch;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: -0.528px;
}

.content__subTitle {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}

.content__video_1 video {
  width: 240px;
}

.content__video_2 video {
  width: 188px;
  margin-top: 16px;
}

.content__video_3 video {
  margin-top: 12px;
  width: 300px;
}

.content__video_4 video {
  margin-top: 28px;
  width: 240px;
}

.title_2_wrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 160px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -3.52px;
}

.title_2_subWrappers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_2_subWrappers span {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 75px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -1.65px;
}

.title_2_subWrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 80px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.76px;
}

.title_2_subSubWrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 33px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.726px;
}

@media screen and (max-width: 576px) {

  .secondSlider_container {
    padding: 0 30px;
  }

  .card {
    min-width: 246px;
    max-width: 246px;
    height: 328px;
  }

  .card__span {
  }

  .card__content {
    padding: 24px 0 30px 0;
  }

  .content__title {
    font-size: 19.65px;
    letter-spacing: -0.432px;
  }

  .content__subTitle {
    font-size: 14.738px;
  }

  .content__video_1 video {
    width: 190px;
  }

  .content__video_2 video {
    width: 150px;
    margin-top: 6px;
  }

  .content__video_3 video {
    margin-top: 6px;
    width: 240px;
  }

  .content__video_4 video {
    margin-top: 14px;
    width: 200px;
  }

  .title_2_wrapper {
  }

  .title_2_subWrappers {
  }

  .title_2_subWrappers span {
  }

  .title_2_subWrapper {
  }

  .title_2_subSubWrapper {
  }
}
