.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: -6px;
  left: -7px;
}

.card {
  display: flex;
  min-width: 400px;
  max-width: 400px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--Clear-base-bg, #000);
}

.card__span {
  color: var(--Text-Main-text, #85868b);
  padding: 20px 20px 27px 20px;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 21.6px */
  letter-spacing: -0.528px;
}

.card__content {
  /* height: calc(100% - 105px); */
  display: flex;
  padding: 52px 0 30px 0;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 30px;
  /* padding-bottom: 60px; */
  align-items: center;
  /* flex: 1 0 0; */
  /* align-self: stretch; */
}

.content__title {
  color: var(--Text-Main-text, #85868b);
  text-align: center;
  align-self: stretch;

  /* Block Title (small) */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 21.6px */
  letter-spacing: -0.528px;
}

.content__subTitle {
  color: #fff;
  text-align: center;

  /* Regular Mobile */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}

.content__video_1 video {
  width: 240px;
}

.content__video_2 video {
  width: 188px;
  margin-top: 16px;
}

.content__video_3 video {
  width: 240px;
}

.content__video_4 video {
  width: 240px;
}


.title_2_wrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 160px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 160px */
  letter-spacing: -3.52px;
}

.title_2_subWrappers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_2_subWrappers span {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 67.5px */
  letter-spacing: -1.65px;
}

.title_2_subWrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 80px */
  letter-spacing: -1.76px;
}

.title_2_subSubWrapper {
  color: var(--Text-Text-accent, #fff);
  font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 49.5px */
  letter-spacing: -0.726px;
}
