.simpleatom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 43px;
  line-height: 150%;
  text-align: center;
  color: var(--Text-Text-accent);
}

.simpleatom__logo {
  display: flex;
  justify-content: center;
  margin: 120px 0 80px;
}

/* .simpleatom__logo img {
  width: 400px;
  height: 356px;
} */

.simpleatom__logo video {
  width: 480px;
}

.simpleatom__description {
  max-width: 768px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 43px;
  line-height: 150%;
  text-align: center;
  color: var(--Text-Main-text);
}

.simpleatom__description span {
  color: var(--Text-Text-accent);
}

.section1 {
  width: calc(100% - 32px);
  margin: 80px 0;
  padding: 0 16px;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: var(--Text-Main-text);
}

.section1__text_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0 16px;
  border-top: 1px solid var(--Lines);
  border-bottom: 1px solid var(--Lines);
}

.section1 p {
  max-width: 1250px;
}

.section1 sup {
  border-bottom: 2px solid var(--Text-Main-text);
  padding-right: 1px;
  margin-left: 2px;
  vertical-align: super;
  font-size: 12px;
}

.section1 sup:hover {
  color: var(--Link, #0366cc);
  border-color: var(--Link, #0366cc);
  cursor: pointer;
}

.section2 {
  width: 100%;
  background: var(--Middle-blocks);
  padding: 16px 0 160px;
  align-items: center;
}

.section2__text_wrapper {
  display: flex;
  justify-content: center;
}

.section2 h1 {
  max-width: 1250px;
  flex-grow: 1;
  text-align: start;
  margin: 0;
  font-weight: 600;
  font-size: 43px;
  line-height: 150%;
  color: var(--Text-Main-text);
  margin-bottom: 23px;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section2 h1 span {
  color: var(--Text-Text-accent, #fff);
  text-shadow: 0px 0px 38px rgba(242, 94, 11, 0.93),
    0px 9px 38px rgba(242, 94, 11, 0.86);
}

.section2__container {
  display: flex;
  width: 736px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--Clear-base-bg);
}

.section2 .container__left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
}

.section2 .container__left_1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 120px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: var(--Text-Text-accent);
}

.section2 .container__left_2 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.section2 .container__left_2 span:first-child {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.section2 .container__left_2 span:last-child {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.section2 .container__right {
  max-width: 100%;
  padding: 60px 35px;
  text-align: left;
}

.section2 .container__right h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 43px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--Text-Text-accent);
}

.section2 .container__right p {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: var(--Text-Main-text);
  width: 100%;
}

.section3 {
  display: flex;
  flex-direction: column;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: var(--Text-Main-text);
  max-width: 1250px;
  margin: 20px auto;
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--Lines);
  border-top: 1px solid var(--Lines);
  gap: 20px;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section4 {
  width: 100%;
  /* background: var(--Middle-blocks); */
  padding: 80px 0 80px;
}

.section4__title {
  max-width: 1250px;
  margin: 0 auto 40px;
}

.section4__title h1 {
  color: var(--Text-Text-accent, #FFF);
  margin: 0 auto;

/* H2 */
font-family: Roboto;
font-size: 43px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 64.5px */
text-align: left;
}

.section4__title span {
  color: var(--Text-Main-text, #85868B);

/* H2 */
font-family: Roboto;
font-size: 43px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}

.button_min {
  display: none;
}

.link a {
  color: var(--link);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: -0.4px;
  text-align: center;
}

.section5 {
  max-width: 1048px;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--Clear-base-bg, #000);
  padding: 80px 0 80px;
}

.section5__content {
}

.section5__title {
  color: var(--Text-Text-accent, #fff);

  /* Regular */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 28.6px */
  text-align: start;
}

.section5__subTitle {
  color: var(--Text-Text-accent, #fff);

  /* H2 */
  font-family: Roboto;
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 64.5px */
  text-align: start;
}

.section5__descriptions {
  display: flex;
  padding: 50px 0px;
  text-align: start;
  gap: 50px;
}

.section5__description {
  max-width: 320px;
  color: var(--Text-Main-text, #85868b);

  /* Regular */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 28.6px */
}

.section5__description span {
  color: var(--Text-Text-accent, #fff);

  /* Regular */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.section5__description_line {
  width: 316px;
  height: 2px;
  background: linear-gradient(90deg, #574099 0%, #f5496f 100%);
  margin-bottom: 30px;
}

.section5__image {
  height: 750px;
  position: relative;
}

.section5__macBook {
  height: 750px;
  position: relative;
  left: 48%;
  transform: translate(-50%);
}

.section5__macBook img {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: calc(51%);
  transform: translate(-50%, -50%);
}

.section5__videoWrapper {
  position: relative;
  width: 940px;
  height: 650px;
  overflow: hidden;
  left: 7%;
  top: 3%;

  /* top:50%;
  left: calc(51%);
  transform:translate(-50%, -50%); */
}

.section5__macBook video {
  width: 1250px;
  position: absolute;
  right: -5%;
  bottom: 0%;

  /* top:50%;
  left: calc(51%);
  transform:translate(-50%, -50%); */
}

.section6 {
  height: 1010px;
}

.section6__iphone {
  position: relative;
}

.section6__iphone img {
  height: 1028px;
  width: 880px;
}

.section6__iphone video {
  width: 406px;
  /* height: 880px; */
  position: absolute;
  left: 21.5%;
  top: 2.3%;
  border-radius: 64px;
}

.section7 {
  padding: 50px 16px;
}

.section7 img {
  width: 100%;
}

.section8 {
  padding: 20px 0 50px;
}

.section8 h2 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
  color: var(--Text-Main-text);
  margin-bottom: 50px;
}

.section8__container {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-areas: 'a b' 'a c';
  padding: 0 16px 50px;
}
.section8__container_one {
  grid-area: a;
}

.section8__container_two {
  grid-area: b;
  padding-left: 64px;
}

.video_container {
  grid-area: c;
  padding-left: 64px;
  display: flex;
  justify-content: flex-start;
}

.section8__second_container {
  display: flex;
  width: 768px;
  margin: 0 auto;
  gap: 100px;
  padding: 0 16px;
  margin-bottom: 30px;
}

.section8 p {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: var(--Text-Main-text);
  margin-bottom: 32px;
  text-align: left;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section8 span {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: var(--Text-Text-accent);
}

.section8__container_one,
.section8__container_two,
.section8__second_container_left,
.section8__second_container_right {
  width: 316px;
}

.section8 h3 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
  color: var(--icons-colour);
  text-align: left;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section8 .video_container video.view_anim,
.section8 p.view_anim,
.section8 h3.view_anim {
  transform: translateY(0px);
  opacity: 1;
}

.page__footer {
  display: flex;
  flex-direction: column;
  padding: 56px 32px;
  justify-content: center;
  align-items: center;
  text-align: left;
  align-self: stretch;
  background: var(--Middle-blocks);
  margin-bottom: 136px;
}

.page__footer ol {
  text-align: left;
  display: list-item;
  list-style: decimal;
  color: var(--Text-Main-text);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.page__footer p {
  max-width: 1240px;
  flex: 1 0 0;
  color: var(--Text-Main-text);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.page__footer span {
  color: var(--Text-Text-accent);
  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}

p.page__footer_contacts {
  margin-top: 30px;
  text-align: center;
}

/* .page__footer .footer__link {
  color: var(--Text-Text-accent);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration-line: underline;
} */

/* .page__footer .footer__link a {
  color: var(--Text-Text-accent);
} */

h1.view_anim,
section.view_anim {
  transform: translateY(0px);
  opacity: 1;
}

.graph1__graph.view_anim,
.graph2__graph.view_anim {
  transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .graph1__info_green:nth-child(8) p::after {
    display: none;
  }

  .graph2__info_green:nth-child(9) p::after {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .graph1 {
    padding: 100px 16px 50px;
  }

  .graph1__full,
  .graph1__full_bottom,
  .graph2__full,
  .graph2__full_bottom {
    display: none;
  }

  .graph1__min,
  .graph1__min_bottom,
  .graph2__min,
  .graph2__min_bottom {
    display: block;
  }

  .graph1__title {
    top: 40px;
    font-family: Inter;
    font-size: 33px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.726px;
  }

  .graph1__sub_title {
    top: 110px;
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;
  }

  .graph1__top_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .graph1__graph {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 14px;
  }

  .graph1__graph_top {
    height: 196px;
  }

  .graph1__captions_left {
    width: 0px;
    font-size: 6px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 156px;
  }

  .graph1__captions_left p:first-child {
    margin-bottom: 61px;
  }

  .graph1__captions_right {
    width: 12px;
    font-size: 6px;
    font-weight: 400;
    text-align: left;
    padding: 51px 0 0 5px;
  }

  .graph1__captions_growth p {
    margin-bottom: 26px;
  }

  .graph1__captions_drawdown p {
    margin-bottom: 2px;
  }

  .graph1__info_gold {
    padding: 1px 3px;
    border-radius: 3px;
    border-bottom: 1px solid var(--Text-Gold-text);
  }

  .graph1__info_gold p {
    font-size: 10px;
  }

  .graph1__info_gold p::after {
    bottom: -11px;
    height: 10px;
  }

  .graph1__info_gold:nth-child(1) {
    bottom: 10%;
    left: 7.52%;
    transform: translate(-50%);
  }

  .graph1__info_gold:nth-child(2) {
    bottom: 17.6%;
    left: 23.5%;
    transform: translate(-50%);
  }

  .graph1__info_gold:nth-child(3) {
    bottom: 20.5%;
    left: 51%;
    transform: translate(-50%);
  }

  .graph1__info_gold:nth-child(4) {
    bottom: 36.7%;
    left: 78%;
    transform: translate(-50%);
  }

  .graph1__info_gold:nth-child(5) {
    bottom: 53%;
    left: 93.38%;
    transform: translate(-90%);
  }

  .graph1__info_gold:nth-child(5) p::after {
    bottom: -11px;
    left: 32px;
    height: 10px;
  }

  .graph1__info_gold:nth-child(6) {
    bottom: 61%;
    left: 97.2%;
    transform: translate(-50%);
  }

  .graph1__info_green p {
    font-size: 6px;
  }

  .graph1__info_green p::before {
    top: 3px;
    left: 0px;
    border-left: 3px solid var(--Text-Green-text);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .graph1__info_green:nth-child(7) p::after {
    top: 0px;
    left: 6px;
  }

  .graph1__info_green:nth-child(8) p::after {
    display: block;
    top: 0px;
    left: 6px;
  }

  .graph1__info_green:nth-child(9) p::after {
    top: 0px;
    left: 6px;
  }

  .graph1__info_green:nth-child(7) {
    bottom: 20.3%;
    left: 77.5%;
    transform: translate(-50%);
  }
  .graph1__info_green:nth-child(8) {
    bottom: 38.1%;
    left: 90.7%;
    transform: translate(-50%);
  }
  .graph1__info_green:nth-child(9) {
    bottom: 55.7%;
    left: 96.7%;
    transform: translate(-50%);
  }

  .graph1__bottom_container {
    padding-right: 0px;
    margin: 0px 50px 46px 50px;
  }

  .graph1__months_top_row {
    display: flex;
    flex: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 13px;
    min-width: 200px;
  }

  .graph1__months_bottom_row {
    display: flex;
    flex: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 13px;
    min-width: 200px;
  }

  .graph1__months p:first-child {
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .graph1__months p:last-child {
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .graph1__text {
    gap: 84px;
  }

  .graph2 {
    position: relative;
    display: flex;
    width: 100%;
    padding: 90px 16px 50px;
    justify-content: center;
    align-items: center;
    background: var(--Clear-base-bg);
    box-sizing: border-box;
  }

  .graph2__title {
    top: 40px;
    font-family: Inter;
    font-size: 33px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.726px;
  }

  .graph2__sub_title {
    top: 94px;
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;
  }

  .graph2__top_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .graph2__graph {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 14px;
  }

  .graph2__graph_top {
    height: 196px;
  }

  .graph2__graph_months {
    bottom: 20.5%;

    font-size: 6px;
  }

  .graph2__captions_left {
    width: 0px;
    font-size: 6px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 156px;
  }

  .graph2__captions_left p:first-child {
    margin-bottom: 61px;
  }

  .graph2__captions_right {
    width: 12px;
    font-size: 6px;
    font-weight: 400;
    text-align: left;
    padding: 53px 0 0 5px;
  }

  .graph2__captions_growth p {
    margin-bottom: 14px;
  }

  .graph2__captions_drawdown p {
    margin-bottom: 6px;
  }

  .graph2__info_gold {
    padding: 1px 3px;
    border-radius: 3px;
    border-bottom: 1px solid var(--Text-Gold-text);
  }

  .graph2__info_gold p {
    font-size: 10px;
  }

  .graph2__info_gold p::after {
    bottom: -11px;
    height: 10px;
  }

  .graph2__info_gold:nth-child(1) {
    bottom: 20.8%;
    left: 14.9%;
    transform: translate(-50%);
  }

  .graph2__info_gold:nth-child(2) {
    bottom: 22.6%;
    left: 23.1%;
    transform: translate(-50%);
  }

  .graph2__info_gold:nth-child(3) {
    bottom: 26.5%;
    left: 51.4%;
    transform: translate(-50%);
  }

  .graph2__info_gold:nth-child(4) {
    bottom: 46.1%;
    left: 79.7%;
    transform: translate(-50%);
  }

  .graph2__info_gold:nth-child(5) {
    bottom: 57%;
    left: 93.5%;
    transform: translate(-90%);
  }

  .graph2__info_gold:nth-child(5) p::after {
    bottom: -11px;
    left: 28px;
    height: 10px;
  }

  .graph2__info_gold:nth-child(6) {
    bottom: 64.6%;
    left: 97.2%;
    transform: translate(-50%);
  }

  .graph2__info_green p {
    font-size: 6px;
  }

  .graph2__info_green p::before {
    top: 3px;
    left: 0px;
    border-left: 3px solid var(--Text-Green-text);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .graph2__info_green:nth-child(7) p::after {
    top: 0px;
    left: 6px;
  }

  .graph2__info_green:nth-child(8) p::after {
    top: 0px;
    left: 6px;
  }

  .graph2__info_green:nth-child(9) p::after {
    display: block;
    top: 0px;
    left: 6px;
  }

  .graph2__info_green:nth-child(10) p::after {
    top: 0px;
    left: 6px;
  }

  .graph2__info_green:nth-child(7) {
    bottom: 26.2%;
    left: 77.8%;
  }
  .graph2__info_green:nth-child(8) {
    bottom: 37.9%;
    left: 78.2%;
  }
  .graph2__info_green:nth-child(9) {
    bottom: 49.9%;
    left: 91%;
  }

  .graph2__info_green:nth-child(10) {
    bottom: 61.2%;
    left: 97%;
  }

  .graph2__bottom_container {
    padding-right: 0px;
    margin: 0px 50px 46px 50px;
  }

  .graph2__months_top_row {
    display: flex;
    flex: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 13px;
    min-width: 200px;
  }

  .graph2__months_bottom_row {
    display: flex;
    flex: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 13px;
    min-width: 200px;
  }

  .graph2__months p:first-child {
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .graph2__months p:last-child {
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .graph2__text_container {
    gap: 25px;
  }

  .graph2__text {
    gap: 84px;
  }
}

@media screen and (max-width: 764px) {
  .simpleatom__logo img {
    width: 250px;
    height: 239px;
  }

  .simpleatom__description {
    font-weight: 600;
    font-size: 24px;
  }

  .section1 {
    padding: 20px 0 16px;
    margin: 60px 0px;
    font-size: 18px;
    color: var(--Text-Main-text);
  }

  .section2 {
    padding: 80px 16px;
  }

  .section2 h1 {
    font-size: 34px;
    margin-bottom: 40px;
  }

  .section2__container {
    flex-direction: column;
    width: calc(100% - 32px);
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--Clear-base-bg);
    padding-bottom: 56px;
  }

  .section2 .container__left {
    height: 274px;
    padding-left: 0;
  }

  .section3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }

  .section4__container_first {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    height: 328px;
  }

  .section4 .container_second {
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
  }

  .section4 .container__left span:first-child {
    font-size: 80px;
    letter-spacing: -1.76px;
  }

  .section4 .container__left span:last-child {
    font-size: 61px;
    letter-spacing: -1.342px;
  }

  .section4 .container__right {
    padding-left: 30px;
  }

  .section4 .container__right span:first-child {
    font-size: 37px;
    letter-spacing: -0.814px;
  }

  .section4 .container__right span:first-child.conservative {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
  }

  .section5__container_first {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    height: 328px;
  }

  .section5 .container_second {
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
  }

  .section5 .container__left span:first-child {
    font-size: 80px;
    letter-spacing: -1.76px;
  }

  .section5 .container__right {
    padding-left: 30px;
  }

  .section5 .container__right span:first-child {
    font-size: 37px;
    letter-spacing: -0.814px;
  }

  .section6__container_first {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    height: 328px;
  }

  .section6 .container_second {
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
  }

  .section6 .container__left span:first-child {
    font-size: 130px;
    letter-spacing: -2.86px;
  }

  .section6 .container__right {
    padding-left: 30px;
  }

  .section6 .container__right span:first-child {
    font-size: 37px;
    letter-spacing: -0.814px;
  }

  .section8 h2 {
    font-size: 34px;
    margin-bottom: 80px;
  }

  .section8__container {
    display: flex;
    flex-direction: column;
    padding: 0 16px 80px;
  }
  .section8__container_one {
    order: 2;
  }

  .section8__container_two {
    padding-left: 0px;
    order: 1;
    margin-bottom: 80px;
  }

  .video_container {
    padding-left: 24px;
    order: 3;
  }

  .section8__second_container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 48px;
  }

  .section2 .container__right {
    padding: 0 37px;
  }

  .section2 .container__right h3 {
    font-size: 37px;
  }

  .section2 .container__right p {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }

  .graph1__text_container {
    gap: 25px;
  }
  .graph1__text {
    flex-direction: column;
    gap: 46px;
  }
  .graph1__text_left_side {
    width: 320px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    align-self: stretch;
  }

  .graph1__text_left_side_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .graph1__text_left_side_row:nth-child(2) {
    margin-bottom: 25px;
  }

  .graph1__text_left_side_row:nth-child(odd) {
    font-size: 18px;
    letter-spacing: -0.198px;
  }

  .graph1__text_right_side {
    gap: 25px;
  }

  .graph1__text_right_side p {
    font-size: 21px;
  }

  .graph1__links_container {
    gap: 38px;
  }

  .graph1__link_container {
    gap: 0px;
    padding: 0;
  }

  .button_min {
    display: flex;
    cursor: pointer;
  }

  .button_full {
    display: none;
  }

  .graph2__text {
    flex-direction: column;
    gap: 46px;
  }
  .graph2__text_left_side {
    width: 320px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    align-self: stretch;
  }

  .graph2__text_left_side_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .graph2__text_left_side_row:nth-child(2) {
    margin-bottom: 25px;
  }

  .graph2__text_left_side_row:nth-child(odd) {
    font-size: 18px;
    letter-spacing: -0.198px;
  }

  .graph2__text_right_side {
    gap: 25px;
  }

  .graph2__text_right_side p {
    font-size: 21px;
  }

  .graph2__links_container {
    gap: 38px;
  }

  .graph2__link_container {
    gap: 0px;
    padding: 0;
  }

  .button_min {
    display: flex;
    cursor: pointer;
  }

  .button_full {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .section2 .container__right h3 {
    line-height: 130%;
  }

  .graph1__months_top_row {
    padding: 0 10px;
  }

  .graph1__months_bottom_row {
    padding: 0px;
  }

  .graph1__info_green:nth-child(7) {
    left: 77.3%;
  }
  .graph1__info_green:nth-child(8) {
    left: 90.4%;
  }
  .graph1__info_green:nth-child(9) {
    left: 96.5%;
  }

  .graph2__months_top_row {
    padding: 0 25px;
  }

  .graph2__months_bottom_row {
    padding: 0 10px;
  }

  .graph2__info_green:nth-child(7) {
    left: 77.6%;
  }
  .graph2__info_green:nth-child(8) {
    left: 78%;
  }
  .graph2__info_green:nth-child(9) {
    left: 90.8%;
  }

  .graph2__info_green:nth-child(10) {
    left: 96.8%;
  }
}

@media screen and (max-width: 420px) {
  .simpleatom__logo video {
    width: 380px;
  }

  .section2 h1 {
    font-size: 60px;
  }

  .section2 .container__left_1 {
    font-size: 180px;
  }

  .section2 .container__left_2 span:first-child {
    font-size: 60px;
  }

  .section2 .container__left_2 span:last-child {
    font-size: 28px;
  }

  .section2 .container__right h3 {
    font-size: 33px;
  }

  .section2 .container__right p {
    font-size: 16px;
  }

  .graph1__bottom_container {
    width: 100%;
    margin: 0px 0px 46px 0px;
  }

  .graph2__bottom_container {
    width: 100%;
    margin: 0px 0px 46px 0px;
  }

  .graph1__info_green:nth-child(7) {
    left: 76.9%;
  }
  .graph1__info_green:nth-child(8) {
    left: 90%;
  }
  .graph1__info_green:nth-child(9) {
    left: 96.1%;
  }

  .graph2__info_green:nth-child(7) {
    left: 77.1%;
  }
  .graph2__info_green:nth-child(8) {
    left: 77.8%;
  }
  .graph2__info_green:nth-child(9) {
    left: 90.3%;
  }

  .graph2__info_green:nth-child(10) {
    left: 96.3%;
  }
}
