.simpleatom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 43px;
  line-height: 150%;
  text-align: center;
  color: var(--Text-Text-accent);
}

.simpleatom__logo {
  display: flex;
  justify-content: center;
  margin: 120px 0 80px;
}

/* .simpleatom__logo img {
  width: 400px;
  height: 356px;
} */

.simpleatom__logo video {
  width: 480px;
}

.simpleatom__description {
  max-width: 768px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 43px;
  line-height: 150%;
  text-align: center;
  color: var(--Text-Main-text);
}

.simpleatom__description span {
  color: var(--Text-Text-accent);
}

.section1 {
  width: calc(100% - 32px);
  margin: 80px 0;
  padding: 0 16px;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: var(--Text-Main-text);
}

.section1__text_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0 16px;
  border-top: 1px solid var(--Lines);
  border-bottom: 1px solid var(--Lines);
}

.section1 p {
  max-width: 1250px;
}

.section1 sup {
  border-bottom: 2px solid var(--Text-Main-text);
  padding-right: 1px;
  margin-left: 2px;
  vertical-align: super;
  font-size: 12px;
}

.section1 sup:hover {
  color: var(--Link, #0366cc);
  border-color: var(--Link, #0366cc);
  cursor: pointer;
}

.section2 {
  width: 100%;
  background: var(--Middle-blocks);
  padding: 16px 0 160px;
  align-items: center;
}

.section2__text_wrapper {
  display: flex;
  justify-content: center;
}

.section2 h1 {
  max-width: 1250px;
  flex-grow: 1;
  text-align: start;
  margin: 0;
  font-weight: 600;
  font-size: 43px;
  line-height: 150%;
  color: var(--Text-Text-accent, #fff);
  margin-bottom: 23px;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section2 h1 span {
  color: var(--Text-Text-accent, #fff);
  text-shadow: 0px 0px 38px rgba(242, 94, 11, 0.93),
    0px 9px 38px rgba(242, 94, 11, 0.86);
}

.section2__container {
  display: flex;
  width: 736px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--Clear-base-bg);
}

.section2 .container__left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
}

.section2 .container__left_1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 120px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: var(--Text-Text-accent);
}

.section2 .container__left_2 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.section2 .container__left_2 span:first-child {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.section2 .container__left_2 span:last-child {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.section2 .container__right {
  max-width: 100%;
  padding: 60px 35px;
  text-align: left;
}

.section2 .container__right h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 43px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--Text-Text-accent);
}

.section2 .container__right p {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: var(--Text-Main-text);
  width: 100%;
}

.section_3_container {
  width: 100%;
  background: var(--Middle-blocks);
}

.section3 {
  display: flex;
  flex-direction: column;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: var(--Text-Main-text);
  background: var(--Middle-blocks);
  max-width: 1250px;
  margin: 20px auto;
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--Lines);
  border-top: 1px solid var(--Lines);
  gap: 20px;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section4 {
  width: 100%;
  /* background: var(--Middle-blocks); */
  padding: 80px 0 80px;
}

.section4__title {
  max-width: 1250px;
  margin: 0 auto 40px;
}

.section4__title h1 {
  color: var(--Text-Text-accent, #fff);
  margin: 0 auto;

  /* H2 */
  font-family: Roboto;
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 64.5px */
  text-align: left;
}

.section4__title span {
  color: var(--Text-Main-text, #85868b);

  /* H2 */
  font-family: Roboto;
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.button_min {
  display: none;
}

.link a {
  color: var(--link);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: -0.4px;
  text-align: center;
}

.section5 {
  max-width: 1048px;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--Clear-base-bg, #000);
  padding: 80px 0 80px;
}

.section5__content {
}

.section5__title {
  color: var(--Text-Text-accent, #fff);

  /* Regular */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 28.6px */
  text-align: start;
}

.section5__subTitle {
  color: var(--Text-Text-accent, #fff);

  /* H2 */
  font-family: Roboto;
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 64.5px */
  text-align: start;
}

.section5__descriptions {
  display: flex;
  padding: 50px 0px;
  text-align: start;
  gap: 50px;
}

.section5__description {
  max-width: 320px;
  color: var(--Text-Main-text, #85868b);

  /* Regular */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 28.6px */
}

.section5__description span {
  color: var(--Text-Text-accent, #fff);

  /* Regular */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.section5__description_line {
  width: 316px;
  height: 2px;
  background: linear-gradient(90deg, #574099 0%, #f5496f 100%);
  margin-bottom: 30px;
}

.section5__image {
  height: 750px;
  position: relative;
}

.section5__macBook {
  height: 750px;
  position: relative;
  left: 48%;
  transform: translate(-50%);
}

.section5__macBook img {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: calc(51%);
  transform: translate(-50%, -50%);
}

.section5__videoWrapper {
  position: relative;
  width: 940px;
  height: 650px;
  overflow: hidden;
  left: 7%;
  top: 3%;

  /* top:50%;
  left: calc(51%);
  transform:translate(-50%, -50%); */
}

.section5__macBook video {
  width: 1250px;
  position: absolute;
  right: -5%;
  bottom: 0%;

  /* top:50%;
  left: calc(51%);
  transform:translate(-50%, -50%); */
}

.section6 {
  height: 1010px;
}

.section6__iphone {
  position: relative;
}

.section6__iphone img {
  height: 1028px;
  width: 880px;
}

.section6__iphone video {
  width: 406px;
  /* height: 880px; */
  position: absolute;
  left: 21.5%;
  top: 2.3%;
  border-radius: 64px;
}

.section7 {
  padding: 50px 16px;
}

.section7 img {
  width: 100%;
}

.section8 {
  padding: 20px 0 50px;
}

.section8 h2 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
  color: var(--Text-Main-text);
  margin-bottom: 50px;
}

.section8__container {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-areas: 'a b' 'a c';
  padding: 0 16px 50px;
}
.section8__container_one {
  grid-area: a;
}

.section8__container_two {
  grid-area: b;
  padding-left: 64px;
}

.video_container {
  grid-area: c;
  padding-left: 64px;
  display: flex;
  justify-content: flex-start;
}

.section8__second_container {
  display: flex;
  width: 768px;
  margin: 0 auto;
  gap: 100px;
  padding: 0 16px;
  margin-bottom: 30px;
}

.section8 p {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: var(--Text-Main-text);
  margin-bottom: 32px;
  text-align: left;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section8 span {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: var(--Text-Text-accent);
}

.section8__container_one,
.section8__container_two,
.section8__second_container_left,
.section8__second_container_right {
  width: 316px;
}

.section8 h3 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
  color: var(--icons-colour);
  text-align: left;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0, 0.5, 1);
}

.section8 .video_container video.view_anim,
.section8 p.view_anim,
.section8 h3.view_anim {
  transform: translateY(0px);
  opacity: 1;
}

.page__footer {
  display: flex;
  flex-direction: column;
  padding: 56px 32px;
  justify-content: center;
  align-items: center;
  text-align: left;
  align-self: stretch;
  background: var(--Middle-blocks);
  margin-bottom: 136px;
}

.page__footer ol {
  text-align: left;
  display: list-item;
  list-style: decimal;
  color: var(--Text-Main-text);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.page__footer p {
  max-width: 1240px;
  flex: 1 0 0;
  color: var(--Text-Main-text);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.page__footer span {
  color: var(--Text-Text-accent);
  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}

p.page__footer_contacts {
  margin-top: 30px;
  text-align: center;
}

/* .page__footer .footer__link {
  color: var(--Text-Text-accent);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration-line: underline;
} */

/* .page__footer .footer__link a {
  color: var(--Text-Text-accent);
} */

h1.view_anim,
section.view_anim {
  transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 764px) {
  .simpleatom__logo img {
    width: 250px;
    height: 239px;
  }

  .simpleatom__description {
    font-weight: 600;
    font-size: 24px;
  }

  .section1 {
    padding: 20px 0 16px;
    margin: 60px 0px;
    font-size: 18px;
    color: var(--Text-Main-text);
  }

  .section2 {
    padding: 80px 16px 90px;
  }

  .section2 h1 {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 27.838px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 41.756px */
    margin-left: 24px;
  }

  /* .section2 h1 span {
    color: var(--Text-Text-accent, #fff);
    text-shadow: 0px 0px 38px rgba(242, 94, 11, 0.93),
      0px 9px 38px rgba(242, 94, 11, 0.86);
  } */

  .section2__container {
    flex-direction: column;
    width: calc(100% - 32px);
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--Clear-base-bg);
    padding-bottom: 56px;
  }

  .section3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }

  .section4 {
    /* width: 100%;
  padding: 80px 0 80px; */
  }

  .section4__title {
    max-width: 220px;
    margin: 0 0 10px 26px;
  }

  .section4__title h1 {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 27.838px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 41.756px */
    text-align: left;
  }

  .section4__title span {
    color: var(--Text-Main-text, #85868b);
    font-family: Roboto;
    font-size: 19.65px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .section4__container_first {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    height: 328px;
  }

  .section4 .container_second {
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
  }

  .section4 .container__left span:first-child {
    font-size: 80px;
    letter-spacing: -1.76px;
  }

  .section4 .container__left span:last-child {
    font-size: 61px;
    letter-spacing: -1.342px;
  }

  .section4 .container__right {
    padding-left: 30px;
  }

  .section4 .container__right span:first-child {
    font-size: 37px;
    letter-spacing: -0.814px;
  }

  .section4 .container__right span:first-child.conservative {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
  }

  .section5 {
    justify-content: center;
  }

  .section5__title {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 19.65px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 29.475px */
  }

  .section5__subTitle {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 27.838px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 41.756px */
  }

  .section5__descriptions {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    text-align: start;
    gap: 50px;
  }

  /* .section5__description:nth-child(1) {
    order: 2;
  } */

  .section5__description {
    color: var(--Text-Main-text, #85868b);
    font-family: Roboto;
    font-size: 14.738px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 19.159px */
  }

  .section5__description span {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 14.738px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .section5__description_line {
    width: 316px;
    height: 2px;
    background: linear-gradient(90deg, #574099 0%, #f5496f 100%);
    margin-bottom: 30px;
  }

  .section5__image {
    height: 200px;
    position: relative;
  }

  .section5__macBook {
    height: 200px;
    position: relative;
    left: 48%;
    transform: translate(-50%);
  }

  .section5__macBook img {
    width: 320px;
    position: absolute;
    top: 50%;
    left: calc(51%);
    transform: translate(-50%, -50%);
  }

  .section5__videoWrapper {
    position: relative;
    width: 270px;
    height: 180px;
    overflow: hidden;
    left: 7%;
    top: 3%;

    /* top:50%;
    left: calc(51%);
    transform:translate(-50%, -50%); */
  }

  .section5__macBook video {
    width: 320px;
    position: absolute;
    right: -26%;
    bottom: 0%;

    /* top:50%;
    left: calc(51%);
    transform:translate(-50%, -50%); */
  }

  .section6 {
    height: 320px;
  }

  .section6__iphone {
    position: relative;
  }

  .section6__iphone img {
    height: 410px;
    width: 360px;
  }

  .section6__iphone video {
    width: 166px;
    /* height: 880px; */
    position: absolute;
    left: 21.5%;
    top: 2.3%;
    border-radius: 28px;
  }

  .section8 h2 {
    font-size: 34px;
    margin-bottom: 80px;
  }

  .section8__container {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0px;
  }
  .section8__container_one {
    order: 2;
  }

  .section8__container_two {
    padding-left: 0px;
    order: 1;
    margin-bottom: 80px;
  }

  .video_container {
    padding-left: 24px;
    order: 3;
  }

  .section8__second_container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 48px;
  }

  .button_min {
    display: flex;
    cursor: pointer;
  }

  .button_full {
    display: none;
  }

  .button_min {
    display: flex;
    cursor: pointer;
  }

  .button_full {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .section2 .container__right h3 {
    line-height: 130%;
  }

  .graph1__months_top_row {
    padding: 0 10px;
  }

  .graph1__months_bottom_row {
    padding: 0px;
  }

  .graph1__info_green:nth-child(7) {
    left: 77.3%;
  }
  .graph1__info_green:nth-child(8) {
    left: 90.4%;
  }
  .graph1__info_green:nth-child(9) {
    left: 96.5%;
  }

  .graph2__months_top_row {
    padding: 0 25px;
  }

  .graph2__months_bottom_row {
    padding: 0 10px;
  }

  .graph2__info_green:nth-child(7) {
    left: 77.6%;
  }
  .graph2__info_green:nth-child(8) {
    left: 78%;
  }
  .graph2__info_green:nth-child(9) {
    left: 90.8%;
  }

  .graph2__info_green:nth-child(10) {
    left: 96.8%;
  }
}

@media screen and (max-width: 420px) {
  .simpleatom__logo video {
    width: 380px;
  }

  .section2 .container__left_1 {
    font-size: 180px;
  }

  .section2 .container__left_2 span:first-child {
    font-size: 60px;
  }

  .section2 .container__left_2 span:last-child {
    font-size: 28px;
  }

  .section2 .container__right h3 {
    font-size: 33px;
  }

  .section2 .container__right p {
    font-size: 16px;
  }
}
