.thirdSlider__minCardsContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 65px;
}

.thirdSlider__maxCardsContainer {
}

.thirdSlider__cardMin_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 404px;
  height: 504px;
  border-radius: 19px;
  background: transparent;
}

.thirdSlider__cardMin_activeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 404px;
  height: 504px;
  border-radius: 19px;
  background: linear-gradient(
      216deg,
      rgba(69, 163, 248, 0) 76.64%,
      #45a3f8 98.82%
    ),
    linear-gradient(41deg, rgba(69, 163, 248, 0.2) 46.85%, #45a3f8 98.81%),
    linear-gradient(311deg, #cd8df4 96.75%, #77528e 98.68%);
}

.thirdSlider__cardMin_activeWrapper::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 406px;
  height: 506px;
  border-radius: 19px;
  border-radius: 10px;
  background: linear-gradient(
      216deg,
      rgba(69, 163, 248, 0) 66.07%,
      #45a3f8 98.83%
    ),
    linear-gradient(32deg, rgba(69, 163, 248, 0) 52.77%, #45a3f8 98.83%),
    linear-gradient(311deg, #cd8df4 96.75%, #77528e 98.68%);
  filter: blur(8.5px);
}

.thirdSlider__cardMin {
  position: absolute;
  z-index: 1;
  width: 340px;
  height: 440px;
  border-radius: 17px;
  background: var(--Clear-base-bg, #000);
  box-shadow: 0px 1px 14px -1px rgba(151, 71, 255, 0.8);
  padding: 30px;
  user-select: none;
  cursor: pointer;
}

.cardMin__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: space-between;
}

.cardMin__titles {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardMin__title {
  color: var(--Text-Main-text, #85868b);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: 0.6px;
}

.cardMin__activeTitle {
  font-size: 14px;

  font-weight: 400;
  line-height: 85%; /* 14px */
  letter-spacing: 0.7px;
  background: var(
    --Linear-3-colors,
    linear-gradient(
      88deg,
      #3380e5 -4.05%,
      #9747ff 35.16%,
      #9747ff 54.5%,
      #ca5908 113.04%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardMin__subTitle {
  max-width: 340px;
  color: var(--Text-Text-accent, #fff);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25px */
  letter-spacing: 1.1px;
}

.cardMin__description {
  display: flex;
  gap: 25px;
}

.cardMin__description_text {
  color: #85868b;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.44px;
}

.cardMin__description_numbers {
  color: var(--Text-Text-accent, #fff);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.44px;
}

.cardMin__subDescription {
  display: flex;
  gap: 30px;
}

.cardMin__subDescription_text {
  color: var(--Text-Main-text, #85868b);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.32px;
}

.cardMin__subDescription_numbers {
  color: var(--Text-Main-text, #85868b);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.32px;
}

.thirdSlider__cardMax {
  user-select: none;
}

.cardMax__content {
}

.cardMax__title {
  color: var(--Text-Text-accent, #fff);
  font-family: Roboto;
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 64.5px */
  margin-bottom: 20px;
}

.cardMax__title span {
  background: linear-gradient(
    88deg,
    #3380e5 -4.05%,
    #9747ff 35.16%,
    #9747ff 54.5%,
    #ca5908 113.04%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardMax__subTitle {
  color: #fff;
  font-family: Inter;
  font-size: 22.482px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33.724px */
  letter-spacing: -0.247px;
  margin-bottom: 10px;
}

.cardMax__description {
  color: var(--Main-text, #85868b);
  font-family: Roboto;
  font-size: 19.672px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%; /* 26.557px */
  letter-spacing: -0.393px;
  margin-bottom: 35px;
}

.cardMax__table_container {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
}

.cardMax__table {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto 20px;
  gap: 8px;
  overflow-x: scroll;
}

.table__year {
  display: flex;
  justify-content: space-between;
  color: var(--Main-text, #85868b);

  font-size: 21.411px;

  font-weight: 300;
  line-height: 135%; /* 28.905px */
  letter-spacing: -0.428px;
}
.table__year div {
  width: 100%;
}

.table__text_text {
  color: var(--Main-text, #85868b);

  font-size: 16.059px;

  font-weight: 300;
  line-height: 135%; /* 21.679px */
  letter-spacing: -0.321px;
}

.table__text_title {
  color: var(--Main-text, #85868b);

  font-size: 24.98px;

  font-weight: 300;
  line-height: 135%; /* 33.723px */
  letter-spacing: -0.5px;
}

.table__text_low {
  color: #926a67;
  font-size: 21.411px;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: -0.428px;
}

.table__text_normal {
  color: var(--Text-Text-accent, #fff);

  font-size: 21.411px;

  font-weight: 300;
  line-height: 135%; /* 28.905px */
  letter-spacing: -0.428px;
}

.table__text_bright {
  color: var(--Text-Text-accent, #fff);

  font-size: 21.411px;

  font-weight: 700;
  line-height: 135%; /* 28.905px */
  letter-spacing: -0.428px;
}

.cardMax__graphTitle {
  color: var(--Text-Text-accent, #fff);
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 28.35px */
  letter-spacing: -0.42px;
}

.cardMax__graphSubTitle {
  color: var(--Text-Text-accent, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 21.6px */
  letter-spacing: -0.32px;
}

.cardMax__graph img {
  width: 1200px;
  height: 540px;
}

.medium__container {
  width: 100%;
  margin: 0 auto;
  overflow: visible;
}

.medium__graphs_container {
  position: relative;
  overflow: visible;
}

.medium__graphs {
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0 calc(50% - 376px);
}

.medium__graphs::-webkit-scrollbar {
  display: none;
}

.medium__graph_wrapper {
  position: relative;
  display: inline-block;
  /* overflow: hidden; */
  width: 752px;
  height: 315px;
}

.medium__graph_wrapper img {
  width: 716px;
}

.cardMax__graphButton {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--Text-Link, #0171e3);
  font-family: Roboto;
  font-size: 21.492px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%; /* 29.015px */
  letter-spacing: -0.43px;
  text-align: right;
  cursor: pointer;
}

.hide {
  display: none;
}

.visibilityHidden {
  visibility: hidden;
}

.cardMax__yearButtons {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  color: var(--Text-Text-accent, #fff);
  font-family: 'Readex Pro';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  letter-spacing: -0.56px;
}

.cardMax__yearButton {
  margin: 0 10px;
}

.cardMax__activeYearButton {
  font-family: 'Readex Pro';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  letter-spacing: -0.72px;
  margin: 0 10px;

  background: var(--Linear, linear-gradient(90deg, #574099 0%, #f5496f 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardMax__yearSeparator {
  width: 1px;
  height: 16px;
  background: var(--Text-Text-accent, #fff);
}
.cardMax__activeYearSeparator {
  width: 1px;
  height: 34px;
  background: linear-gradient(90deg, #574099 0%, #f5496f 100%);
}

.cardMax__stats {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  height: 200px;
  padding: 20px 0;
  margin: 0 auto;
}

.cardMax__stats_column {
  width: 200px;
  height: 50px;
  flex-grow: 1;
  /* width: 100%; */
}
.cardMax__stats_column span {
  color: var(--Text-Main-text, #85868b);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
}
.cardMax__stats_column p {
  color: var(--Text-Main-text, #85868b);

  /* Regular */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 70%; /* 28.6px */
}

.cardMax__stats_button {
  color: #06c;
  text-align: center;

  /* Annotation */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  margin-top: 50px;
  cursor: pointer;
}

.cardMax__moreStats {
  max-width: 1100px;
  margin: 40px auto 0;
}

.moreStats_items {
  width: 1041px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.moreStats_item {
  width: 200px;
  text-wrap: nowrap;
  margin-bottom: 25px;
  /* display: flex; */
}

.moreStats_item div:first-child {
  color: var(--Text-Main-text, #85868b);
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 16px */
}

.moreStats_item div:last-child {
  color: var(--Text-Main-text, #85868b);
  text-align: center;

  font-size: 18px;
  font-weight: 300;
  line-height: 135%; /* 24.3px */
  letter-spacing: -0.36px;
}

.cardMax__moreStats_title {
  border-bottom: 0.976px solid var(--Menu-select, #8C8A8A);

  color: var(--Text-Main-text, #85868B);
  font-size: 24px;
  font-weight: 600;
  line-height: 200%; /* 36px */
}

.cardMax__moreStats_subTitle {
  color: var(--Text-Main-text, #85868B);
  font-size: 24px;
  font-weight: 600;
  line-height: 250%; /* 36px */
}

@media screen and (max-width: 1300px) {
  .thirdSlider__container {
  }

  .thirdSlider__minCardsWrapper {
    height: 350px;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  .thirdSlider__minCardsContainer {
    width: 850px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    transition: all 1s ease-in-out;
  }

  .cardMin__activeLeft {
    left: 0%;
  }
  .cardMin__activeRight {
    left: 100%;
  }

  .thirdSlider__cardMin_wrapper {
    width: 244px;
    height: 304px;
    border-radius: 11px;
  }

  .thirdSlider__cardMin_activeWrapper {
    width: 244px;
    height: 304px;
    border-radius: 11px;
  }

  .thirdSlider__cardMin_activeWrapper::after {
    width: 246px;
    height: 306px;
    border-radius: 11px;
  }

  .thirdSlider__cardMin {
    width: 204px;
    height: 264px;
    padding: 18px;
    border-radius: 10px;
  }

  .cardMin__content {
  }

  .cardMin__titles {
    gap: 10px;
  }

  .cardMin__title {
    font-family: Roboto;
    font-size: 10.644px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 14.369px */
    letter-spacing: -0.213px;
  }

  .cardMin__activeTitle {
    font-family: Roboto;
    font-size: 10.644px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 14.369px */
    letter-spacing: -0.213px;
  }

  .cardMin__subTitle {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 14.738px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 19.159px */
  }

  .cardMin__description {
  }

  .cardMin__description_text {
    color: #85868b;
    font-family: Roboto;
    font-size: 13.1px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 13.1px */
  }

  .cardMin__description_numbers {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 13.1px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 13.1px */
  }

  .cardMin__subDescription {
  }

  .cardMin__subDescription_text {
    color: var(--Text-Main-text, #85868b);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 14.901px */
  }

  .cardMin__subDescription_numbers {
    color: var(--Text-Main-text, #85868b);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 14.901px */
  }

  .cardMax__title {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 19.65px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 29.475px */
  }

  .cardMax__title span {
  }

  .cardMax__subTitle {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 14.738px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 19.159px */
  }

  .cardMax__description {
    color: var(--Main-text, #85868b);
    text-align: center;
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.901px */
  }

  .cardMax__table {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 0 auto 20px;
    gap: 8px;
  }

  .table__year {
    display: flex;
    justify-content: space-between;
    color: var(--Main-text, #85868b);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.901px */
  }
  .table__year div {
    width: 100%;
  }

  .table__text_text {
    color: var(--Main-text, #85868b);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.901px */
  }

  .table__text_title {
    color: var(--Main-text, #85868b);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.901px */
  }

  .table__text_low {
    color: #926a67;
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.901px */
  }

  .table__text_normal {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.901px */
  }

  .table__text_bright {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.901px */
  }

  .cardMax__graphTitle {
    color: var(--Text-Text-accent, #fff);
    font-family: Roboto;
    font-size: 11.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 14.901px */
  }

  .cardMax__graphSubTitle {
    color: var(--Text-Text-accent, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 9.825px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 0px */
  }

  .cardMax__graph img {
    width: 360px;
    height: 150px;
  }

  .cardMax__graphs_wrapper {
    max-width: 100vw;
    position: relative;
    height: 350px;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .cardMax__graphs {
    width: 100vw;
    display: flex;
    gap: 80px;

    position: absolute;
  }

  .cardMax__graphs img {
    width: 294px;
    height: 108px;
  }

  .graph2021 {
    /* left: 0%; */
    /* transform: translate(-50vw, 0); */
  }

  .graph2022 {
    /* transform: translate(-55vw, 0); */
  }

  .graph2023 {
    /* transform: translate(-20vw, 0); */
  }

  .graph2024 {
    /* transform: translate(15vw, 0); */
  }

  .cardMax__graph_wrapper {
    text-align: end;
  }

  .cardMax__graphButton {
    max-width: 350px;
    margin: 0 auto;
    color: var(--Text-Link, #0171e3);
    font-family: Roboto;
    font-size: 21.492px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%; /* 29.015px */
    letter-spacing: -0.43px;
    text-align: right;
  }

  .hide {
    display: none;
  }

  .cardMax__yearButtons {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    color: var(--Text-Text-accent, #fff);
    font-family: 'Readex Pro';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
    letter-spacing: -0.56px;
  }

  .cardMax__yearButton {
    margin: 0 10px;
  }

  .cardMax__activeYearButton {
    font-family: 'Readex Pro';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 36px */
    letter-spacing: -0.72px;
    margin: 0 10px;

    background: var(--Linear, linear-gradient(90deg, #574099 0%, #f5496f 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cardMax__yearSeparator {
    width: 1px;
    height: 16px;
    background: var(--Text-Text-accent, #fff);
  }
  .cardMax__activeYearSeparator {
    width: 1px;
    height: 34px;
    background: linear-gradient(90deg, #574099 0%, #f5496f 100%);
  }

  .cardMax__stats {
    display: flex;
    flex-wrap: wrap;
    width: 401px;
    height: 430px;
    padding: 8px 0;
    margin: 0 auto;
    justify-content: center;
  }

  .cardMax__stats_column {
    flex-grow: 0;
  }
  .cardMax__stats_column span {
    color: var(--Text-Main-text, #85868b);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0%;
  }
  .cardMax__stats_column p {
    color: var(--Text-Main-text, #85868b);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  .cardMax__stats_button {
    color: #06c;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1050px) {
  .cardMax__moreStats {
    max-width: 100%;
    /* margin: 40px auto 0; */
  }
  
  .moreStats_items {
    width: 100%;
  }
  
  .moreStats_item {
    width: 200px;
    text-wrap: nowrap;
    margin-bottom: 20px;
  }
  
  .moreStats_item div:first-child {
    font-size: 12px;
  }
  
  .moreStats_item div:last-child {
    font-size: 12px;
    font-weight: 400;
  }
  
  .cardMax__moreStats_title {
    font-size: 18px;
  }
  
  .cardMax__moreStats_subTitle {
    font-size: 16px;
    font-weight: 400;
  }
}

@media screen and (max-width: 764px) {
  .medium__graphs {
    padding: 0 calc(50% - 156px);
  }

  .medium__graph_wrapper {
    width: 312px;
    height: 145px;
  }

  .medium__graph_wrapper img {
    width: 294px;
  }
}
